.main-bg{
  height: 300px;
  /* background-image: url('./aa.jpg'); */
  background-size: cover;
  background-position: center;
}
img {
  width: 80%;
  max-width: 100%; /* 부모 컨테이너에 맞게 크기 조정 */
  height: auto;
}
.start{
  opacity: 0;
}
.end{
  opacity: 1;
  transition: opacity 0.8s;
}